<app-navigation></app-navigation>
<br>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="findvideos"
            placeholder="Search..." [(ngModel)]="findvideos">
    </div>
</form>
<br>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4" *ngFor="let video of videos | filter:findvideos" >
            <div class="card text-center">
                <div class="card-header bg-dark text-white d-flex
                    justify-content-between align-items-center">
                    {{video.title}}
                    <button class="btn btn-danger" (click)="delete(video._id)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>

                <div *ngIf="video.videotype === 'youtube' else archivo">
                    <iframe class="card-img-top"
                        [src]="('https://www.youtube.com/embed/' + video.url) |
                        safe"
                        frameborder="0" allow="accelerometer; autoplay;
                        encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <ng-template #archivo>
                    <video class="card-img-top" controls>
                        <source [src]="[video.url]" type="video/mp4">
                    </video>
                </ng-template>
                <div class="card-body">
                    <p>{{video.description}}</p>
                    <a [routerLink]="['/video/edit', video._id]" class="btn
                        btn-info
                        btn-block">
                        EDIT Video
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
