<app-navigation></app-navigation>
<br>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Fullname</th>
            <th scope="col">User</th>
            <th scope="col">AGE</th>
            <th scope="col">PIN</th>
            <th scope="col"><a href="adminuser/add" class="btn btn-primary btn-sm" id="edit">+</a></th>
        </tr>
    </thead>
    <tbody *ngFor="let profile of profiles">
        <tr>
            <th scope="row">{{profile.fullname}}</th>
            <td>{{profile.user}}</td>
            <td>{{profile.age}}</td>
            <td>{{profile.pin}}</td>
            <td>
                <a [routerLink]="['/adminuser/edit', profile._id]"  class="btn btn-warning btn-sm" id="edit">
                    <i class="fas fa-edit"></i>
                </a>
                <button class="btn btn-danger btn-sm" (click)="delete(profile._id)" id="delete">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>