<div class="container">
    <div class="flat-form">
        <ul class="tabs">
            <li>
                <a href="#login" class="active">Admin</a>
            </li>
            <li>
                <a href="#register">User</a>
            </li>
        </ul>
        <div id="login" class="form-action show">
            <h1>Admins</h1>
            <form #formSingin="ngForm" (ngSubmit)="singin(formSingin)"
                class="login-form">
                <div *ngIf="isError" class="alert alert-danger" role="alert">
                    {{alert}}
                </div>
                <input class="form-control" type="email" placeholder="email"
                    [(ngModel)]="user.email" name="email" required
                    autocomplete="off" />
                <br>
                <input class="form-control" type="password"
                    placeholder="password"
                    [(ngModel)]="user.password" name="password" required
                    autocomplete="off" />
                <button type="submit" class="button button-block">Login</button>
                <p>Not registered? <a href="/register">Create an
                        account</a></p>
            </form>
        </div>
        <!--/#login.form-action-->
        <div id="register" class="form-action hide">
            <h1>User</h1>
            <form #formchildsingin="ngForm" (ngSubmit)="childsingin(formchildsingin)"
                class="login-form">
                <div *ngIf="isError" class="alert alert-danger" role="alert">
                        {{alert}}
                </div>
                <input class="form-control user" type="user" placeholder="User"
                    [(ngModel)]="profile.user" name="user" required
                    autocomplete="off" />
                <br>
                <input class="form-control pin" type="text" placeholder="PIN"
                    [(ngModel)]="profile.pin" name="pin" required
                    autocomplete="off" />
                <button type="submit" class="button button-block logadmin"
                    >Login</button>
            </form>
        </div>
    </div>
</div>
