<app-childnavigation></app-childnavigation>
<br>

<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="findvideos"
            placeholder="Search..." [(ngModel)]="findvideos">
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-4" *ngFor="let video of videos | filter:findvideos">
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex
                justify-content-between align-items-center">
                {{video.title}}
            </div>

            <div *ngIf="video.videotype === 'youtube' else archivo">
                <iframe class="card-img-top"
                    [src]="('https://www.youtube.com/embed/' + video.url) |
                    safe"
                    frameborder="0" allow="accelerometer; autoplay;
                    encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <ng-template #archivo>
                <video class="card-img-top" controls>
                    <source [src]="('http://localhost:3000/images/'+ video.url)
                        | safe" type="video/mp4">
                </video>
            </ng-template>
            <div class="card-body">
                <p>{{video.description}}</p>
            </div>
        </div>
    </div>
</div>
