<app-navigation></app-navigation>
<br>

<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
                <form #formcreatevideo="ngForm" (ngSubmit)="create(formcreatevideo)"
                class="login-form" enctype="multipart/form-data">
                <div *ngIf="isError" class="alert alert-danger" role="alert">
                        {{alert}}
                </div>
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="video.title"
                        placeholder="Title" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <textarea name="description" [(ngModel)]="video.description"
                        rows="2" placeholder="Description"
                        class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <select class="form-control" name="videotype" [(ngModel)]="video.videotype">
                        <option id="optionYouTube" value="youtube" onclick="ShowYoutube()">YouTube</option>
                        <option id="optionFile" value="file" onclick="ShowFile()">File</option>
                    </select>
                </div>
                <div  class="form-group">
                    <input id="Video" type="file" name="url" [(ngModel)]="video.url"
                        placeholder="URL" class="form-control" accept="video/mp4,video/x-m4v,video/*" required>
                </div>
                <button  type="submit"class="btn btn-success btn-block">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>


<!--<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="video.image == '' ? '/assets/noimage.png' : video.image" alt="No Image" class="card-img-top">
        <h3>{{video.id}}. {{video.title == '' ? 'Video Title' : video.title}}</h3>
        <p>{{video.description == '' ? 'Write your Descrition' : video.description}}</p>
    </div>
</div>-->
