<div class="container">
  <div class="flat-form">
      <div  class="form-action show">
          <h1>We are almost done</h1>
          <form #formVerify="ngForm" (ngSubmit)="verify(formVerify)"
              class="login-form">
              <div *ngIf="isError" class="alert alert-danger" role="alert">
                  {{alert}}
              </div>
              <button type="submit" class="button button-block">Verify Account</button>
          </form>
      </div>
  </div>
</div>
