<app-navigation></app-navigation>
<br>
<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form #formeditprofile="ngForm" (ngSubmit)="update(formeditprofile)">
        <div *ngIf="isError" class="alert alert-danger" role="alert">
          {{alert}}
        </div>
        <div class="form-group">
          <input type="text" name="fullname" [(ngModel)]="profile.fullname"
            placeholder="Fullname" class="form-control"
            required>
        </div>
        <div class="form-group">
          <input type="text" name="user" [(ngModel)]="profile.user"
            placeholder="User" class="form-control"
            required>
        </div>
        <div class="form-group">
          <input type="number" name="pin" onkeypress="return justNumbers(event);" min="0" [(ngModel)]="profile.pin"
            placeholder="PIN" class="form-control"
            required>
        </div>
        <div class="form-group">
          <input type="number" name="age" onkeypress="return justNumbers(event);" min="0" [(ngModel)]="profile.age"
            placeholder="Age" class="form-control"
            required>
        </div>
        <button type="submit" class="btn btn-success btn-block">
          Save
      </button>
      </form>
    </div>
  </div>
</div>
