<div class="login-page">
    <div class="form">
        <form #formRegister="ngForm" (ngSubmit)="register(formRegister)" class="register-form">
            <div *ngIf="isError" class="alert alert-danger" role="alert">
                    {{alert}}
            </div>
            <div class="top-row">
                <div class="field-wrap">
                    <input class="form-control" type="text" placeholder="name" [(ngModel)]="user.name" name="name"
                        required autocomplete="off" />
                </div>
                <div class="field-wrap">
                    <input class="form-control" type="text" placeholder="lastname" [(ngModel)]="user.lastname"
                        name="lastname" required autocomplete="off" />
                </div>
            </div>
            <div class="top-row">
                <div class="field-wrap">
                    <input class="form-control" type="number" placeholder="countrycode" onkeypress="return justNumbers(event);"  min="0" [(ngModel)]="user.countrycode"
                        name="countrycode" required autocomplete="off" />
                </div>
                <div class="field-wrap">
                    <input class="form-control" type="text" placeholder="telephone" onkeypress="return justNumbers(event);"  min="0" [(ngModel)]="user.phone"
                        name="phone" required autocomplete="off" />

                </div>
            </div>
            <div class="top-row">
                <div class="field-wrap">
                    <input class="form-control" type="text" placeholder="country" [(ngModel)]="user.country"
                        name="country" required autocomplete="off" />

                </div>
                <div class="field-wrap">

                    <input class="form-control" type="date" placeholder="birthdate" [(ngModel)]="user.birthdate"
                        id="birthdate" name="birthdate" required autocomplete="off" />
                </div>
            </div>
            <input class="form-control" type="email" placeholder="email" [(ngModel)]="user.email" name="email" required
                autocomplete="off" />
            <div class="top-row">
                <div class="field-wrap">
                    <input class="form-control" type="password" placeholder="password" [(ngModel)]="user.password"
                        name="password" required autocomplete="off" />
                </div>
                <div class="field-wrap">
                    <input class="form-control" type="password" placeholder="Veryfy Password"
                        [(ngModel)]="user.vpassword" name="vpassword" required autocomplete="off" />
                </div>
            </div>
            <button type="submit" class="button button-block">Create</button>
            <p class="message">Already registered? <a href="/">Sign In</a></p>
        </form>
    </div>
</div>