<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/video">Tubekids</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="btn btn-dark" routerLink="/video" routerLinkActive="active"><i
            class="fas fa-video"></i> List</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark" routerLink="/video/add" routerLinkActive="active"><i
            class="fas fa-video"></i> ADD Video</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark" routerLink="/adminuser" routerLinkActive="active"><i
            class="fas fa-video"></i> Amin Users</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>