<br>
<div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-1 col-md-offset-3">
        <div class="panel panel-default" style="width: 150%">
            <div class="panel-heading">
                <h3 class="panel-title">Token Verification</h3>
            </div>
            <div class="panel-body">
                <form #formverify="ngForm" (ngSubmit)="verify(formverify)">
                        <div *ngIf="isError" class="alert alert-danger" role="alert">
                                {{alert}}
                        </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <input [(ngModel)]="mytoken.token" onkeypress="return justNumbers(event);" name ="token" class="form-control input-sm"
                                    placeholder="Token via SMS">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <button  (click)="sms()" class="btn btn-info btn-block">SMS</button>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <button  type="submit" class="btn btn-success btn-block">Verify</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>